/* .con{ */
    /* background-image: "/images/hero-section.png"; */
 /* background: #000; */

/* background-image: url("doct.jpg"); */
/* background-image: url("best-scans-to-detect-cancer.png");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

} */